{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);    
        height: 100%
    }
    .custom-padding {
        padding-right: 10px;
    }
    .playfair {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }
    .noto-serif {
        font-family: 'Noto Serif', serif;
    }
    .name-class {
        margin-right: 10px;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #f2f2f2;
        padding: 10px;
        }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        }

    .card-text {
        font-size: 1rem;
        color: #555;
        }
</style>

<nav class="navbar navbar-expand-lg">
    <span class="navbar-brand mb-0 h1 playfair" href="#" style="padding-left: 10px; padding-right: 10px;"><strong>Nyasia & Co.</strong></span>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <span class="navbar-text">
                <div class="name-class noto-serif">
                    <b>Welcome, {{ name }}</b>
                </div>
            </span>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto col d-flex justify-content-end custom-padding">
        <li class="nav-item">
            <div class="mr-auto pr-2 ">
                <a class="btn btn-danger " href="{% url 'main:logout' %}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#ffffff}</style><path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg>
                     Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

<div class="container mt-5 background-container">
    <h1 class="playfair mb-3">Nyasia & Co.</h1>

<div id="product_cards" class="row mt-3"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>
<div class = "ml-5">
    <h5 class="mt-3 noto-serif"><strong>Last login session: {{ last_login }}</strong></h5>
    <button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>
</div>
<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_cards").innerHTML = ""
        const products = await getProducts()
        products.forEach((product) => {
        const card = document.createElement("div");
        card.classList.add("col-md-4", "mb-4");
        card.innerHTML = `
        <div class="card">
            <div class="card-body">
            <h5 class="card-title playfair">${product.fields.name}</h5>
            <p class="card-text noto-serif">${product.fields.description}</p>
            <p class="card-text noto-serif">Amount: ${product.fields.amount}</p>
            <button class="btn btn-danger" onclick="deleteProduct(${product.pk})">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <style>svg{fill:#ffffff}</style>
                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                </svg>
            </button>
            </div>
        </div>
        `;

        document.getElementById("product_cards").appendChild(card);
    });
    }
    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct

    async function deleteProduct(productId) {
        const response = await fetch(`{% url 'main:delete_product_ajax' 0 %}`.replace("0", productId), {
            method: "POST",
        });

        if (response.status === 200) {
            refreshProducts();
        } else if (response.status === 404) {
            console.log("Product not found");
        } else {
            console.log("Error deleting product");
        }
    }
</script>
{% endblock content %}